<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Invoice {{ invoice.number }}</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ invoice.rootDir }}/css/invoice.css" />
</head>
<body>
<table id="base">
    <tr>
        <td class="company">
            <strong>{{ invoice.seller.name }}</strong><br>
            {{ invoice.seller.street1 }}<br>
            {{ invoice.seller.zip}} {{ invoice.seller.city }} <br>
            {{ invoice.seller.country }}<br>
            <br>
            <a href="{{ invoice.seller.website }}">{{ invoice.seller.website }}</a><br>
            <a href="mailto:{{ invoice.seller.email }}">{{ invoice.seller.email }}</a>
        </td>
        <td>
            <img src="{{ invoice.rootDir }}/images/logo.png" alt="company logo" />
        </td>
    </tr>
    <tr>
        <th>Invoice date</th>
        <th>Invoice number</th>
    </tr>
    <tr>
        <td>{{ invoice.date|format_date('full') }}</td>
        <td>{{ invoice.number }}</td>
    </tr>
    <tr>
        <th>Billing address</th>
        <th>Payment information</th>
    </tr>
    <tr>
        <td>{{ invoice.buyer.name }}</td>
        <td></td>
    </tr>
    <tr>
        <td>{{ invoice.buyer.street1 }}</td>
        <td></td>
    </tr>
    {% if invoice.buyer.street2 %}
    <tr>
        <td>{{ invoice.buyer.street2 }}</td>
        <td></td>
    </tr>
    {% endif %}
    <tr>
        <td>{{ invoice.buyer.zip }} {{ invoice.buyer.city }}</td>
        <td></td>
    </tr>
    <tr>
        <td>{{ invoice.buyer.country }}</td>
        <td></td>
    </tr>
</table>

<table id="items">
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Unit price</th>
        <th>Amount</th>
    </tr>
    {{ include('items.twig') }}
    <tr>
        <th colspan="3" class="right">Sub-total</th>
        <th>{{ invoice.subtotal|format_currency(invoice.currency, {}) }}</th>
    </tr>
    {% if invoice.discount %}
    {{ include('discount.twig') }}
    {% endif %}
    {% if invoice.shipping %}
    {{ include('shipping.twig') }}
    {% endif %}
    {% if invoice.tax %}
    {{ include('tax.twig') }}
    {% endif %}
    <tr>
        <th colspan="3" class="right">Total ({{ invoice.currency|currency_symbol }})</th>
        <th>{{ invoice.total|format_currency(invoice.currency, {}) }}</th>
    </tr>
</table>

{{ include('codes.twig') }}

<hr>
<p class="right">
    {{ invoice.custom.notes }}
</p>
</body>
</html>
