<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Invoice {{ invoice.transactionId }}</title>
<link rel="stylesheet" href="css/invoice.css" />
</head>
<body>
<table id="1">
    <tr>
        <td class="company">
            <strong>{{ invoice.seller.name }}</strong><br>
            {{ invoice.seller.street1 }}<br>
            {{ invoice.seller.zip}} {{ invoice.seller.city }} <br>
            {{ invoice.seller.country }}<br>
            <br>
            <a href="{{ invoice.seller.website }}">{{ invoice.seller.website }}</a><br>
            <a href="mailto:{{ invoice.seller.email }}">{{ invoice.seller.email }}</a>
        </td>
        <td>
            <img src="images/logo.png" alt="company logo" />
        </td>
    </tr>
    <tr>
        <th>Invoice date</th>
        <th>Invoice number</th>
    </tr>
    <tr>
        <td>{{ invoice.date|format_date('full') }}</td>
        <td>{{ invoice.number }}</td>
    </tr>
    <tr>
        <th>Billing address</th>
        <th>Payment information</th>
    </tr>
    <tr>
        <td>{{ invoice.buyer.name }}</td>
        <td></td>
    </tr>
    <tr>
        <td>{{ invoice.buyer.street1 }}</td>
        <td></td>
    </tr>
    <tr>
        <td>{{ invoice.buyer.street2 }}</td>
        <td></td>
    </tr>
    <tr>
        <td>{{ invoice.buyer.zip }} {{ invoice.buyer.city }}</td>
        <td></td>
    </tr>
    <tr>
        <td>{{ invoice.buyer.country }}</td>
        <td></td>
    </tr>
</table>

<table id="items">
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Unit price</th>
        <th>Amount</th>
    </tr>
    {{ include('items.twig') }}
    <tr>
        <th colspan="3" class="right">Sub-total</th>
        <th>{{ invoice.subtotal|format_number({fraction_digit: 2}) }}</th>
    </tr>
    {% if invoice.discount %}
    {{ include('discount.twig') }}
    {% endif %}
    {% if invoice.shipping %}
    {{ include('shipping.twig') }}
    {% endif %}
    {% if invoice.tax %}
    {{ include('tax.twig') }}
    {% endif %}
    <tr>
        <th colspan="3" class="right">Total ({{ invoice.currency }})</th>
        <th>{{ invoice.total|format_number({fraction_digit: 2}) }}</th>
    </tr>
</table>

<table>
    <tr>
        <th colspan="2" class="bg-none">Activation codes</th>
    </tr>
    {{ include('codes.twig') }}
    <tr>
        <td colspan="2">
            <hr>
            {{ invoice.custom.notes }}
        </td>
    </tr>
</table>
</body>
</html>
